

.quizTwo{
    width: 350px;
    border: 1px solid #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}
.quizTwo__questions{}
.quizTwo__questions__numbers{}
.quizTwo__questions__question{
    font-size: 30px;
    margin: 5px 0;
}


.quizTwo__answers{
    display: flex;
    flex-direction: column;
}
.quizTwo__answers__button{
    margin: 10px 0;
    font-size: 18px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #f8f8f8;
    background: 0;
    color: white;
    padding: 5px 0;
    cursor: pointer;
    transition: 0.3s ease;
}

.quizTwo__answers__button:hover {
    background: #f8f8f8;
    color: black;
}