.basicFormTwo{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #f8f8f8;
    border-radius: 10px;
}

.basicFormTwo__title{
    font-size: 25px;
    margin-bottom: 10px;
}

.basicFormTwo__label{
    margin-bottom: 5px;
}

.basicFormTwo__input{
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    background: 0;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
}

.basicFormTwo__button{
    margin: 10px 0;
    font-size: 18px;
    font-weight: bolder;
    height: 35px;
    cursor: pointer;
}